@using FamilyApplication.AspireApp.Web.Components.Shared
@using Microsoft.FluentUI.AspNetCore.Components
@implements IDialogContentComponent<SaveGoalModalDto>

<FluentDialogHeader ShowDismiss="true">
	<FluentStack VerticalAlignment="VerticalAlignment.Center">
		<LottiePlayer Src="lottie/lottiepiggybankblue.json"
					  Width="96px"
					  Height="auto"
					  Style="border-radius: 50%"
					  Autoplay="true"
					  Speed="1" />

		<FluentLabel Typo="Typography.PaneHeader">
			@Title
		</FluentLabel>
	</FluentStack>
</FluentDialogHeader>

<FluentDialogFooter>
	<FluentButton Appearance="Appearance.Accent" OnClick="@SaveChanges">Lagre</FluentButton>
	<FluentButton Appearance="Appearance.Neutral" OnClick="@Cancel">Avbryt</FluentButton>
</FluentDialogFooter>

<FluentDialogBody>
	<FluentStack Orientation="Orientation.Vertical">
		<p>Her legger du inn data til målet ditt. Hva ønsker du deg?</p>

		<FluentTextField @bind-Value="@Content.UserWalletSaveGoal.ThingToSaveFor">Sparemålet heter:</FluentTextField>
		<FluentTextField style="width: 100%;" @bind-Value="@Content.UserWalletSaveGoal.Description">Fortell hvorfor du sparer til denne:</FluentTextField>
		<FluentNumberField @bind-Value="@Content.UserWalletSaveGoal.Amount">Ca hvor mye den koster:</FluentNumberField>
		<FluentCheckbox @bind-Value="FinishedAtChecked">Fullført</FluentCheckbox>
	</FluentStack>
</FluentDialogBody>
@code {

	[Parameter] public SaveGoalModalDto Content { get; set; } = default!;
	[CascadingParameter] public FluentDialog Dialog { get; set; } = default!;

	public string Title => Content.IsNew ? "Nytt sparemål" : "Rediger sparemål";

	private bool FinishedAtChecked
	{
		get => Content.UserWalletSaveGoal.FinishedAt.HasValue;
		set
		{
			Content.UserWalletSaveGoal.FinishedAt = value ? DateTime.Now : null;
		}
	}

	private async void SaveChanges()
	{
		await Dialog.CloseAsync(Content);
	}

	private async void Cancel()
	{
		await Dialog.CancelAsync();
	}
}
